<h1>{{title}}</h1>
<div>
  <h4>사용자 검색</h4>
  <label for="user-no">사용자 번호: </label><input type="number" name="user-no" #userNoInput />
  <button type="button" (click)="findUserWithJquery(userNoInput.value)">검색(jQuery)</button>
  <button type="button" (click)="findUserWithPromise(userNoInput.value)">검색(Promise)</button>
  <button type="button" (click)="findUserWithObservable(userNoInput.value)">검색(Observable)</button>
  <div>{{searchedUser | json}}</div>
</div>
<div>
  <h4>마지막 사용자 조회</h4>
  <button type="button" (click)="findLastUserWithJquery()">검색(jQuery)</button>
  <button type="button" (click)="findLastUserWithPromise()">검색(Promise)</button>
  <button type="button" (click)="findLastUserNameWithObservable()">검색(Observable)</button>
</div>
<div>
  <h4>사용자 추가</h4>
  <label for="user-name">사용자 이름:</label> <input type="text" name="user-name" [(ngModel)]="user.name"> <br/>
  <label for="user-id">사용자 ID:</label> <input type="text" name="user-id" [(ngModel)]="user.id"> <br/>
  <label for="user-age">사용자 나이:</label> <input type="number" for="user-age" [(ngModel)]="user.age" />
  <button type="button" (click)="addUser()">사용자 추가</button>
  <button type="button" (click)="resetUser()">입력 초기화</button>
</div>
<div>
  <h4>사용자 전체 삭제</h4>
  <button type="button" (click)="clearAllUser()">전체삭제</button>
</div>