<nav class="navbar navbar-toggleable-md fixed-top scm-navbar">
  <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse"
          data-target="#nav-bar" aria-controls="nav-bar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand text-white" href="/">{{appTitle}}</a>

  <div class="collapse navbar-collapse d-flex justify-content-end" id="nav-bar">
    <button class="btn btn-warning mr-2" routerLink="/product-list/product" [queryParams]="{action: 'create'}">
      <i class="fa fa-plus"></i> 상품 등록</button>
    <form class="form-inline mt-2 mt-md-0">
      <input class="form-control mr-sm-2" type="text" placeholder="상품 고유 번호" #searchInput>
      <button class="btn btn-warning my-2 my-sm-0" type="button"
              (click)="searchProduct(searchInput.value)">상품 조회</button>
    </form>
  </div>
</nav>
