<fieldset class="mx-2 my-2 py-2 rounded" [formGroup]="manager">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="input-group">
          <span class="input-group-addon" [id]="'manager-name-' + idx">이름</span>
          <input type="text" formControlName="name" class="form-control"/>
        </div>
      </div>
      <div class="col-6">
        <div class="input-group">
          <span class="input-group-addon" [id]="'manager-phone-' + idx">연락처</span>
          <input type="text" formControlName="phoneNum" class="form-control"/>
        </div>
      </div>
    </div>
  </div>
</fieldset>
