section {
  border: 1px solid lightblue;
}

input.ng-valid, textarea.ng-valid {
  border-right: 5px solid #42A948; /* green */
}

input.ng-invalid:not(form), textarea.ng-invalid:not(form) {
  border-right: 5px solid #a94442; /* red */
}
