<scm-button-group (onclickedBtn)="clickedBtn($event)"></scm-button-group>

<p>전체 상품: {{totalItemCnt}}</p>

<div class="text-center">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th class="text-center">
        <button type="button" class="btn btn-sm btn-outline-info"
                (click)="toggleAllItem()">전체 {{ isCheckedAnyOne() ? '해제' : '선택'}}</button>
      </th>
      <th class="text-center">#</th>
      <th class="text-center">상품명</th>
      <th class="text-center">상품가격</th>
      <th class="text-center">상품 상태</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let prod of products; let i = index">
      <td class="text-center"><input type="checkbox" [(ngModel)]="prodCheckedStatus[i]" (click)="checkProduct(i, prod.$key)"></td>
      <td>{{prod.id}}</td>
      <td><a routerLink="product" [queryParams]="{key: prod.$key}">{{prod.name}}</a></td>
      <td>{{prod.listPrice}}</td>
      <td>{{prod.status | productStatus}}</td>
    </tr>
    </tbody>
  </table>
</div>
<div class="text-right">
  <label for="cur-page-size">최대 상품: </label>
  <input type="number" id="cur-page-size" #pageSizeInput [value]="pageSize">
  <button class="btn btn-info btn-sm" type="button" (click)="pageSizeChanged(pageSizeInput.value)">변경</button>
</div>

<div class="text-right">
  <ngb-pagination [pageSize]="pageSize" [collectionSize]="totalItemCnt"
                  [(page)]="pageNo" (pageChange)="pageNoChanged($event)"></ngb-pagination>
</div>
