<table class="table table-bordered">
  <thead>
  <tr>
    <th class="text-center"><input type="checkbox" (click)="checkAllItem()"></th>
    <th class="text-center">상품 ID</th>
    <th class="text-center">상품명</th>
    <th class="text-center">상품가격</th>
    <th class="text-center">상품 상태</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let prod of products | async">
    <td class="text-center"><input type="checkbox" (click)="checkItem(prod.id)"></td>
    <td>{{prod.id}}</td>
    <td><a routerLink="product" [queryParams]="{id: prod.id}">{{prod.name}}</a></td>
    <td>{{prod.listPrice}}</td>
    <td>{{prod.status}}</td>
  </tr>
  </tbody>
</table>

<div class="text-center">
  <ngb-pagination [pageSize]="pageSize" [collectionSize]="totalItemCnt"
                  [(page)]="curPage" (pageChange)="pageChanged($event)"></ngb-pagination>
</div>
