<scm-navbar></scm-navbar>
<div class="container-fluid">
  <div class="row">
    <scm-sidebar (changedPage)="curPage = $event"></scm-sidebar>

    <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3" [ngSwitch]="curPage">
      <div *ngSwitchCase="'prod'">상품관리 뷰</div>
      <div *ngSwitchCase="'cat'">카테고리 뷰</div>
      <div *ngSwitchCase="'promo'">프로모션 뷰</div>
      <div *ngSwitchCase="'coupon'">쿠폰 뷰</div>
      <div *ngSwitchDefault>기본 뷰</div>
    </main>

  </div>
</div>
<scm-footer></scm-footer>
