/*h4 {
    margin-top: 0;
    margin-bottom: 5px;
}*/

.box {
    display: inline-block;
    padding: 5px;
    border: 1px solid darkslategrey;
}

.inner-box {
    border: 1px solid grey;
    display: inline-block;
}

.track-area {
    width: 200px;
    height: 200px;
    vertical-align: top;
    background-color: lightblue;
}

.log-history {
    width: 298px;
    height: 450px;
    overflow-y: scroll;
}

ol {
    list-style: none;
    padding: 0 5px;
    font-size: 14px;
}