<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse"
          data-target="#nav-bar" aria-controls="nav-bar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Angular 상품관리 시스템</a>

  <div class="collapse navbar-collapse d-flex justify-content-end" id="nav-bar">
    <button class="btn btn-outline-info mt-2 mt-md-0 mr-2"><i class="fa fa-plus"></i> 상품 정보 등록</button>
    <form class="form-inline mt-2 mt-md-0">
      <input class="form-control mr-sm-2" type="text" placeholder="상품 고유 번호">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">상품 바로 조회</button>
    </form>
  </div>
</nav>
